html,
body,
#app-root,
.full,
.flex-container,
.map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.appbar-title, .mapContainer {
  flex: 1;
  max-height: 100%;
}

.appbar-title {
  text-align: center;
}

.drawer-content {
  width: 264px; /* = 320 - 56 */
}
@media all and (orientation: landscape) and (min-width: 600px) {
  .shifted-container {
    border-left: 264px solid white;
    box-sizing: border-box;
  }
}

.fab-bottomright {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1010;
}

.basemap-selector-current h3 {
  font-weight: bold;
}

.leaflet-container {
  background: none;
}
.leaflet-tile {
  image-rendering: pixelated !important;
  image-rendering: crisp-edges !important;
  image-rendering: -moz-crisp-edges !important;
}
