html,
body,
#app-root,
.civMapApp,
.shiftedContainer,
.map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

.shiftedContainer {
  display: flex;
  flex-direction: column;
}

.appBarTitle, .mapContainer {
  flex: 1;
  max-height: 100%;
}

.drawer-content {
  width: 264px; /* = 320 - 56 */
}
@media all and (orientation: landscape) and (min-width: 648px) { /* = 320 + 264 + 64 */
  .shiftedContainer {
    border-left: 264px solid white;
    box-sizing: border-box;
  }
}

.fab-bottomright {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1010;
}

.basemap-selector-current h3 {
  font-weight: bold;
}

.leaflet-container {
  background: none;
}
.leaflet-tile {
  image-rendering: pixelated !important;
  image-rendering: crisp-edges !important;
  -moz-image-rendering: crisp-edges !important;
}
