html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background-image: url(img/void.png);
  background-color: black;
  color: white;
}

html, body, #app, .fullHeight, .map {
  height: 100%;
}

.mapContainer {
  height: 100%;
  position: relative;
}
.mapContainer.drawerClosed {
  margin-right: 0;
}
.mapContainer.drawerOpen {
  /* transition is copied from drawer, so it follows its animation */
  transition: margin 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  margin-right: 256px;
}

.mainMenuButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 500;
}

.menu-inset {
  margin: 0px 16px;
}

.leaflet-container {
  background: none;
}
.leaflet-tile {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.control-box {
  margin: 10px;
  padding: .5em .5em;
  background-color: rgba(255,255,255, .95);
}
.coords-display {
  position: absolute;
  left: 36px;
  padding: .5em 1em;
  color: black;
}

.claim-name {
  text-shadow: black 0px 0px 5px;
  pointer-events: none !important;
  /* http://howtocenterincss.com/#contentType=text&container.width=200px&container.height=200px&horizontal=center&vertical=middle&browser.IE=none
  setting fixed width/height is done by leaflet
  */
  display:flex;
  text-align: center;
  justify-content:center;
  align-items:center;
}

.center-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.center-middle {
  display: table-cell;
  vertical-align: middle;
}
.center-inner {
  margin-left: auto;
  margin-right: auto;
}
